# Clave de la API de The Movie Database. Obtenela desde su sitio web oficial.
TMDB_API_KEY="4c13d79da36a97c80e70be9f823eb0ac"

# URL base para el proxy de la API de TMDB en Astro.
PUBLIC_API_BASE_URL="/api/tmdb"

# URL completa del sitio para las llamadas desde el servidor. En desarrollo, es la URL del servidor de Astro.
SITE_URL="http://localhost:4321"

JWT_SECRET="d363aa7a6329c82284185733bacd55989bcdf9388707bf2e35929c5f18d33312"