<h1>Zonas: </h1>

<ul>
  <li *ngFor="let shelter of shelterService.shelters; let i = index">
    <div class="d-flex flex-row align-self-center">
      <div>
        <a [routerLink]="shelter.id.toString()">
          <h2>{{ shelter.name }}</h2>
        </a>
        <ul>
          <li *ngFor="let shelter of zone.shelters">
            <h3>Refugios:</h3>
            {{ shelter.name }} - {{ shelter.address }}
          </li>
        </ul>
      </div>
      <div class="p-3">
        <button class="btn btn-danger" (click)="deleteShelter(shelter.id)">Eliminar zona</button>
      </div>
    </div>
  </li>
</ul>

<app-shelter-form></app-shelter-form>