---
import Layout from '../layouts/Layout.astro';
import Billboard from '../components/react/Billboard.tsx';
import '../styles/cartelera.css';
import '../styles/movies.css';
---

<Layout title="CineVerse - Movies">
  <main class="cartelera">
    <div class="container">
      <Billboard client:load />
    </div>
  </main>
</Layout>
