---
import Layout from '../layouts/Layout.astro';
import CheckoutSimulated from '../components/react/CheckoutSimulated.tsx';
import '../styles/checkout.css';
---

<Layout title="Confirmar Compra">
  <main class="checkout-container">
    <CheckoutSimulated client:load />
  </main>
</Layout>