---
import Layout from '../layouts/Layout.astro';
import '../styles/cartelera.css';
---

<Layout title="CineVerse - Cines">
    <main class="cartelera">
    <div class="container">
      <header class="cartelera-header">
        <h1>Ubicacion de nuestros cines</h1>
      </header>
  </main>
</Layout>
