---
import Layout from '../layouts/Layout.astro';
import '../styles/cartelera.css';
---

<Layout title="CineVerse - Theaters">
  <main class="cartelera">
    <div class="container">
      <header class="cartelera-header">
        <h1>Our Theaters location</h1>
      </header>
    </div>
  </main>
</Layout>
