---
import Layout from '../layouts/Layout.astro';
import { BossCarousel } from '../components/react/BossCarousel';
import { Image } from 'astro:assets';
import '../styles/homepage.css';
import promoBanner from '../assets/banner.png';
---

<Layout title="CineVerse Theatres">
  <main>
    <section class="promo-banner-section">
      <a href="/promociones" class="promo-link">
        <Image
          src={promoBanner}
          alt="Promotional Banner"
          class="promo-image"
          format="webp"
          quality={100}
        />
      </a>
    </section>
    <BossCarousel client:visible />
  </main>
</Layout>
