---
import LoginForm from '../components/react/LoginForm';
import Layout from '../layouts/Layout.astro';
import '../styles/register.css';
---

<Layout title="CineVerse - Login">
  <div class="register-container">
    <LoginForm client:visible />
  </div>
</Layout>
