---
import Layout from '../layouts/Layout.astro';
import '../styles/cartelera.css';

---

<Layout title="CineVerse - Promociones">
    <main class="cartelera">
    <div class="container">
      <header class="cartelera-header">
        <h1>Promociones especiales</h1>
        <h2>Aun no hay promociones disponibles</h2>
      </header>
  </main>
</Layout>
