---
import RegisterForm from '../components/react/RegisterForm.tsx';
import Layout from '../layouts/Layout.astro';
import '../styles/register.css';
---

<Layout title="Registro - CineVerse">
  <div class="register-container">
    <RegisterForm client:visible />
  </div>
</Layout>
