---
import '../../styles/footer.css';
---

<footer class="main-footer">
  <div class="container footer-content">
    <div class="footer-section footer-logo">
      <a href="/" class="footer-brand">CineVerse</a>
    </div>
    <div class="footer-section footer-links">
      <p class="footer-copyright">
        Copyright © 2025 CineVerse Inc. |
        <a href="/privacy-policy" class="footer-link">Privacy Policy</a>
      </p>
    </div>
    <div class="footer-section footer-right">
      Made by: <br /> Araguas Joaquin <br /> Herrera Nicolas
    </div>
  </div>
</footer>
