<h1> Creacion de un refugio </h1>
<form [formGroup]="shelterForm" (submit)="postShelter()" class="form-container">
  <div class="form-fieldset">
    <label for="name">Nombre</label>
    <input type="text" id="shelter-name" formControlName="name">
    <p class="error" *ngIf="shelterForm.get('name')?.invalid && shelterForm.get('name')?.touched">El nombre es obligatorio</p>
  </div>
  
  <div class="form-fieldset">
    <label for="address">Direccion</label>
    <input type="text" id="shelter-address" formControlName="address">
    <p class="error" *ngIf="shelterForm.get('address')?.invalid && shelterForm.get('address')?.touched">La direccion es obligatoria</p>
  </div>

  <div class="form-fieldset">
    <label for="max_capacity">Capacidad maxima</label>
    <input type="number" id="shelter-max_capacity" formControlName="max_capacity">
    <p class="error" *ngIf="shelterForm.get('max_capacity')?.invalid && shelterForm.get('max_capacity')?.touched">La capacidad es obligatoria</p>
  </div>

  <div class="form-fieldset">
    <label for="zone">Zona</label>
    <select id="shelter-zone" formControlName="zone">
      <option *ngFor="let zone of zones" [ngValue]="zone">{{ zone.name }}</option>
    </select>
    <p class="error" *ngIf="shelterForm.get('zone')?.invalid && shelterForm.get('zone')?.touched">La zona es obligatoria</p>
  </div>

  <div class="form-fieldset">
    <label for="vet">Veterinaria</label>
    <select id="shelter-vet" formControlName="vet">
      <option *ngFor="let vet of vets" [ngValue]="vet">{{ vet.name }}</option>
    </select>
    <p class="error" *ngIf="shelterForm.get('vet')?.invalid && shelterForm.get('vet')?.touched">La veterinaria es obligatoria</p>
  </div>

  <div class="form-submit">
    <button type="submit" [disabled]="shelterForm.invalid">Añadir refugio</button>
  </div>
</form>