<h1> Creacion de un refugio </h1>
<form [formGroup]="shelterForm" (submit)="postShelter()">
  <fieldset>
    <label for="name">Nombre: </label>
    <input type="text" id="shelter-name" formControlName="name">
    @if (name.invalid && name.touched) {
      <p class="error">El nombre es obligatorio</p>
    }
  </fieldset>
  <fieldset>
    <label for="address">Direccion: </label>
    <input type="text" id="shelter-address" formControladdress="address">
    @if (address.invalid && address.touched) {
      <p class="error">La dirección es obligatoria</p>
    }
  </fieldset>
  <fieldset>
    <label for="max_capacity">Capacidad maxima : </label>
    <input type="number" id="shelter-max_capacity" formControlName="max_capacity">
  </fieldset>
  <fieldset>
    <label for="zone">Zona: </label>
    <select id="shelter-zone" formControlName="zone">
      <option *ngFor="let zone of zones" [ngValue]="zone">{{ zone.name }}</option>
    </select>
  </fieldset>
  <fieldset>
    <label for="rescue">Rescate: </label>
    <input type="number" id="shelter-rescue" formControlName="rescue">
  </fieldset>
  <fieldset>
    <label for="vet">Veterinario: </label>
    <input type="number" id="shelter-vet" formControlName="vet">
  </fieldset>

  <button [disabled]="shelterForm.invalid">crear refugio</button>
</form>